
{% load static %}


<html>
    <head>
        <title>Beauti</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!------------------------------------style--css-------------------------------------------->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
        <link rel="stylesheet" href="{% static 'css/pop-up.css' %}">

         <!--------------------------------js------------------------------------------------------->
         <script>
                    /**  Popup function  */
                function togglePopup() {
                    document.getElementById("popup-1").classList.toggle("active");

                }
        </script>
    </head>
    <body>
        <div class="circle"></div>
        <header>
            <a href="/" class="logo"> <img src="static/image/logo.svg" alt="" class=""> Beauti </a>
            <ul>
                <li>
                    <a href="#C1"> Каталог </a>
                </li>

                <li>
                    <a href="#C2">Специалисты</a>
                </li>

                <li>
                    <a href="#C3">О нас</a>
                </li>

                <li>
                    <a  onclick="location.href='{% url 'order' %}'"> Записаться на прием </a>
                </li>   
            </ul>
        </header>

        <a> <img src="static/image/hand.png" alt="" class="hand-pictare"></a>

          <!--button onclick="togglePopup()">Show Popup</button-->
        
        {% block content %}
        
        <!-- Try to delete invisible column-->

        {% endblock %}

        <footer>
            <div class="footer--container">
              <div class="footer--flex">
                <div class="footerCol">
                  <p href="/" class="logo"> <img src="static/image/logo.svg" alt="" class=""> Beauti </p>
                    
                  <div class="footerCol-two">
                    <p class="footerPhone"> 
                        <img src="static/image/What'sapp.svg" alt="" class="">
                        8 (951) 894-10-000
                    </p>

                    <p class="footerInsta"> 
                        <img src="static/image/instagram.svg" alt="" class="">
                        kosmetologia_beauti_kzn
                    </p>

                   </div> 
                </div>
              </div>
            </div>           
        </footer>
    </body>
</html>