{% extends 'blog/base.html' %}

{% block content %}

<title>TopSkills</title>
<a> <img src="static/image/hand.png" alt="" class="hand-pictare" style="position: absolute;width: 300px;
    height: 300px;
    margin-left: 900px;
    margin-top: 50px;"></a>
    <section class="first-part-site">
        <h2 id="text"> 1100 ₽ <br>
            <span> Педикюр с  <br> покрытием лака </span> 
                <p>Лак японского качества никого не оставит равнодушным, его красочная палитра заинтересует даже истинных перфекционистов, а влагостойкость лака является одним из лучших на рынке</p>
        </h2>

        <button href="#" id="btn">ЗАКАЗАТЬ СЕЙЧАС </button>
        <div class="flowers">
            <img src="static/image/flower1" alt="" />
            <img src="static/image/flower2" alt="" />
            <img src="static/image/flower1" alt="" />
        </div>
    </section>
    <section class="second-part-site">
        <div>
            <h2>Услуги салона</h2>
        </div>
    </section>
    <section class="third-part-site">
        <div>
            <h2>Каталог услуг</h2>
        </div>
    </section>
    <section class="fourth-part-site">
        <div>
            <h2>О салоне</h2>
        </div>
    </section>
    <section class="fifth-part-site">
        <div>
            <h2>Почему мы?</h2>
        </div>
    </section>
    <section class="sixth-part-site">
        <div>
            <h2>Наши лучшие работы</h2>
        </div>
    </section>
    <section class="seventh-part-site">
        <div>
            <h2>Наши специалисты</h2>
        </div>
    </section>
{% endblock %}